---
layout: page
title: News
excerpt: "Hack.lu is an open convention/conference where people can discuss about computer security, privacy, information technology and its cultural/techni
cal implication on society. It's the 13th edition (17-19 October 2017) of hack.lu at Alvisse Parc Hotel in Luxembourg."
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2>Organized by</h2>
<a href="https://www.circl.lu/"><img src="{{ site.url }}/images/logos/circl.png" /></a>
<h2>Sponsored by</h2>
<a href="https://www.doclerholding.com/en/main/"><img src="{{ site.url }}/images/logos/docler.jpg" /></a><br />
<a href="http://www.deloitte.lu/"><img src="{{ site.url }}/images/logos/deloitte.jpg" /></a><br />
<a href="http://www.sans.org/emea"><img src="{{ site.url}}/images/sans-emea.png" /></a><br />
<a href="http://www.conostix.com/"><img src="{{ site.url }}/images/logos/conostix.png" /></a><br />
<a href="http://www.maehdros.be/"><img src="{{ site.url }}/images/logos/maehdros.jpg" /></a><br />
<a href="http://www.imrim.lu/"><img src="{{ site.url }}/images/logos/imrim.png" /></a><br />
<a href="https://www.eclecticiq.com/"><img src="{{ site.url }}/images/logos/eclecticiq.png" /></a><br />
<a href="http://www.itrust.lu/"><img src="{{ site.url }}/images/logos/itrust.jpg" /></a><br />
<a href="http://www.dcso.de/"><img src="{{ site.url }}/images/dcso-logo.svg" /></a><br />
<a href="https://www.streff.lu/"><img src="{{ site.url }}/images/logos/streff_DPS.png" /></a><br />
<h2>CTF Sponsored by</h2>
<a href="http://www.telindus.lu/"><img src="{{ site.url }}/images/logos/telindus.png" /></a><br />
<h2>Internet access by</h2>
<a href="http://www.post.lu/"><img src="{{ site.url }}/images/post.png" /></a><br />
<h2>Media sponsors</h2>
<a href="http://www.miscmag.com/"><img src="{{ site.url }}/images/logos/misc.png" /></a><br />
<h2>Community support by</h2>
<a href="https://www.syn2cat.lu/"><img src="{{ site.url }}/images/logos/syn2cat.png" /></a><br />
<a href="https://www.c3l.lu/"><img src="{{ site.url }}/images/logos/c3l.png" height="150" width="213" /></a><br />
